spring:
  application:
    name: discovery-server

# Server Configuration
server:
  port: 8761

# Eureka Client configuration
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
